{{log ticket.code}}
{{log ticket}}
  <div class="ticket">
    <div class="ticket-header">
      <h2>Ticket de Compra</h2>
      <p>Fecha: {{purchase_datetime}}</p>
    </div>
    <div class="ticket-items">
      <div class="ticket-item">
        <span>ID de la compra: {{code}}</span>
      </div>
    <div class="ticket-total">
      <p>Total: ${{amount}}</p>
    </div>
  </div>